{
	"y_cols": ["resp"]
	"regression_algo": "mlp",
	"autoencoder_output_features": 64,
	"na_value": "zero",
	"job_count": 1,
	"feature_prefix": "feature_",
	"batch_size": 256,
	"ensemble_type": "none",
	"x_scaler_type": "quantile"
}